<% include partials/head %>  
  <body>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="jumbotron text-center">
        <h1> Chat - IITK </h1>
        <p class="lead">A simple chat application for IITK</p>
        <a href="/login" class="btn btn-default"><span class="fa fa-sign-in"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
    </div>
  </body>
</html>  